{% extends 'app/login/custom_base.html' %} {% block content %}

<div class="card">
  <div class="card-header">
    <strong>
      {{ customer_record.first_name }} {{ customer_record.last_name }}</strong
    >
  </div>
  <div class="card-body">
    <p class="card-text"><strong>Email: </strong>{{ customer_record.email }}</p>

    <p class="card-text"><strong>SĐT: </strong>{{ customer_record.phone }}</p>

    <p class="card-text">
      <strong>Địa chỉ: </strong>{{ customer_record.address }}
    </p>

    <p class="card-text"><strong>School: </strong>{{ customer_record.school }}</p>
    <p class="card-text">
      <strong>Ngày tạo: </strong>{{ customer_record.created_at }}
    </p>

    <p class="card-text"><strong>ID: </strong>{{ customer_record.id }}</p>
  </div>
</div>

<br /><br />
<a href="{% url 'login_home' %}" class="btn btn-secondary">Trở về</a>

<a href="{% url 'delete_record' customer_record.id %}" class="btn btn-danger"
  >Xóa</a
>

<a href="{% url 'update_record' customer_record.id %}" class="btn btn-secondary"
  >Cập nhật hồ sơ</a
>

{% endblock %}
