{% extends 'app/base.html' %}
{% load static %}

{% block tongquan %}
<body class="main-gh">
  <div class="container1">
    <div class="header-content">
      <a href="{% url 'home' %}"><img src="{% static 'app/images/home.png' %}" align="left">Trang chủ</a> <a>/</a><a href="{% url 'co_so_vat_chat' %}">Cơ sở vật chất</a>
      
    </div>
    <div class="content-wrapper">
      <div class="custom-heading-1"><b>Cơ sở vật chất</b></div>
      <p>Đến năm 2030, Trường phấn đấu trở thành trường đại học lớn, đa ngành của Việt Nam, là trung tâm đào tạo, bồi dưỡng, nghiên cứu khoa học hàng đầu về giao thông vận tải và các lĩnh vực liên quan, có uy tín, hoà nhập với các trường đại học trong khu vực và vững vàng tiếp cận trình độ các trường đại học tiên tiến trên thế giới.</p>
      <p>Kinh phí đầu tư cho cơ sở vật chất của Nhà trường không ngừng tăng lên theo từng năm. Hệ thống phòng học, phòng thí nghiệm, đặc biệt là thí nghiệm công nghệ cao đã và đang được đầu tư mới để đáp ứng nhu cầu đào tạo.</p>
      <p style=" color: blue">1. Cơ sở 1: số 2, đường Võ Oanh (D3 cũ), P. 25, Q. Bình Thạnh, TP. HCM.</p>
      <div class="img_anh" style="display: flex; justify-content: center; align-items: center; margin: 20px 0;">
        <img
            src="{% static 'app/images/gioithieu/csvc/CCS 1.jpg' %}"
            alt="Image 1"
            style="max-width: 60%; height: auto; border-radius: 8px;" 
        />
    </div>
    <div class="img_anh" style="display: flex; justify-content: center; align-items: center; margin: 20px 0;">
      <img
          src="{% static 'app/images/gioithieu/csvc/Mat sau (1).jpg' %}"
          alt="Image 1"
          style="max-width: 60%; height: auto; border-radius: 8px;" 
      />
  </div>
  <p style="color:blue; text-align: center;" >Cơ sở chính tại số 2 đường Võ Oanh, P. 25, Q. Bình Thạnh, TP. HCM</p>
  <div class="img_anh" style="display: flex; justify-content: center; align-items: center; margin: 20px 0;">
    <img
        src="{% static 'app/images/gioithieu/csvc/TAU BINH THANH.jpg' %}"
        alt="Image 1"
        style="max-width: 60%; height: auto; border-radius: 8px;" 
    />
</div>
<div class="img_anh" style="display: flex; justify-content: center; align-items: center; margin: 20px 0;">
  <img
      src="{% static 'app/images/gioithieu/csvc/Tau Binh Thanh (1).jpg' %}"
      alt="Image 1"
      style="max-width: 60%; height: auto; border-radius: 8px;" 
  />
</div>
<p style="color:blue; text-align: center;" >Tàu thực tập trọng tải 2,000 DWT của Trường</p>
<p style=" color: blue">2. Cơ sở 2: Khu giảng đường và ký túc xá (số 10 đường số 12, KP3, P. An Khánh, TP. Thủ Đức, TP. HCM)</p>
<div class="img_anh" style="display: flex; justify-content: center; align-items: center; margin: 20px 0;">
  <img
      src="{% static 'app/images/gioithieu/csvc/Cs q2.jpg' %}"
      alt="Image 1"
      style="max-width: 60%; height: auto; border-radius: 8px;" 
  />
</div>
<div class="img_anh" style="display: flex; justify-content: center; align-items: center; margin: 20px 0;">
  <img
      src="{% static 'app/images/gioithieu/csvc/IMG_0047.png' %}"
      alt="Image 1"
      style="max-width: 60%; height: auto; border-radius: 8px;" 
  />
</div>
<p style="color:blue; text-align: center;" >Khu giảng đường và ký túc xá</p>
<p style=" color: blue">3. Cơ sở 3: số 70 đường Tô Ký, phường Tân Chánh Hiệp, quận 12, TPHCM:</p>
<div class="img_anh" style="display: flex; justify-content: center; align-items: center; margin: 20px 0;">
  <img
      src="{% static 'app/images/gioithieu/csvc/CS 3.jpg' %}"
      alt="Image 1"
      style="max-width: 60%; height: auto; border-radius: 8px;" 
  />
</div>
<div class="img_anh" style="display: flex; justify-content: center; align-items: center; margin: 20px 0;">
  <img
      src="{% static 'app/images/gioithieu/csvc/KTX 2(2).jpg' %}"
      alt="Image 1"
      style="max-width: 60%; height: auto; border-radius: 8px;" 
  />
</div>
<p style="color:blue; text-align: center;" >Cơ sở quận 12 và Ký túc xá</p>
<p style=" color: blue">4. Cơ sở 4: TP. Vũng Tàu: số 17A đường 3-2, P.11, TP. Vũng Tàu</p>
<div class="img_anh" style="display: flex; justify-content: center; align-items: center; margin: 20px 0;">
  <img
      src="{% static 'app/images/gioithieu/csvc/CS VT.jpg' %}"
      alt="Image 1"
      style="max-width: 60%; height: auto; border-radius: 8px;" 
  />
</div>
<p style=" color: blue">5. Cơ sở Đồng Nai (đường Vũ Hồng Pho, xã Long Đức, huyện Long thành, Đồng Nai): với 20 ha đất gồm khu thực hành đào tạo an ninh quốc phòng, khu thực hành cơ khí ô tô, khu thực hành Logictics, khu thực hành giáo dục thể chất, khu thực hành KTXD và CTGT, khu thực hành về ATGT phục vụ ngành cơ khí ô tô. </p>
<div class="img_anh" style="display: flex; justify-content: center; align-items: center; margin: 20px 0;">
  <img
      src="{% static 'app/images/gioithieu/csvc/Dong Nai.jpg' %}"
      alt="Image 1"
      style="max-width: 60%; height: auto; border-radius: 8px;" 
  />
</div>
<div class="return-q">
  <a href="{% url 'home' %}"><div align="right"><p style=" color:aqua ;"> Quay lại</p></div>
</div>
    </div>
  </div>
  <img
  src="{% static 'app/images/Chuc-Mung-Nam-Moi-2025-Loi-chuc-tet-den-ong-ba-cha-me.jpg' %}"
  alt="Mô tả ảnh"
  class="right-image"
/>
</body>
{% endblock tongquan %}
