{% extends 'app/base.html' %}
{% load static %}

{% block tongquan %}
<body class="main-gh">
  <div class="container1">
    <div class="header-content">
      <a href="{% url 'home' %}"><img src="{% static 'app/images/home.png' %}" align="left">Trang chủ</a> <a>/</a><a href="{% url 'lich_su_hinh_thanh' %}">Lịch sử hình thành</a>
      
    </div>
    <div class="content-wrapper">
      <div class="custom-heading-1"><b>Kiện toàn thành viên Hội đồng trường Trường Đại học Giao thông vận tải TP.HCM nhiệm kỳ 2020-2025</b></div>
      <div class="img_anh" style="display: flex; justify-content: center; align-items: center; margin: 20px 0;">
        <img
            src="{% static 'app/images/hoidong/QD Kien toan HDT.png' %}"
            alt="Image 1"
            style="max-width: 90%; height: auto; border-radius: 8px; border: 1px solid black; " 
        />
      </div>
      <div class="img_anh" style="display: flex; justify-content: center; align-items: center; margin: 20px 0;">
        <img
            src="{% static 'app/images/hoidong/QD Kien toan HDT 1.png' %}"
            alt="Image 1"
            style="max-width: 90%; height: auto; border-radius: 8px; border: 1px solid black;margin-top: -20px; " 
        />
      </div>
      <div class="img_anh" style="display: flex; justify-content: center; align-items: center; margin: 20px 0;">
        <img
            src="{% static 'app/images/hoidong/1(2).png' %}"
            alt="Image 1"
            style="max-width: 100%; height: auto; border-radius: 8px;" 
        />
    </div>
    <div class="img_anh" style="display: flex; justify-content: center; align-items: center; margin: 20px 0;">
      <img
          src="{% static 'app/images/hoidong/2(2).png' %}"
          alt="Image 1"
          style="max-width: 100%; height: auto; border-radius: 8px;" 
      />
  </div>
  <div class="img_anh" style="display: flex; justify-content: center; align-items: center; margin: 20px 0;">
    <img
        src="{% static 'app/images/hoidong/3(1).png' %}"
        alt="Image 1"
        style="max-width: 100%; height: auto; border-radius: 8px;" 
    />
</div>
<div class="img_anh" style="display: flex; justify-content: center; align-items: center; margin: 20px 0;">
  <img
      src="{% static 'app/images/hoidong/4(1).png' %}"
      alt="Image 1"
      style="max-width: 100%; height: auto; border-radius: 8px;" 
  />
</div>
<div class="img_anh" style="display: flex; justify-content: center; align-items: center; margin: 20px 0;">
  <img
      src="{% static 'app/images/hoidong/5(2).png' %}"
      alt="Image 1"
      style="max-width: 100%; height: auto; border-radius: 8px;" 
  />
</div>
<div class="img_anh" style="display: flex; justify-content: center; align-items: center; margin: 20px 0;">
<img
    src="{% static 'app/images/hoidong/6(2).png' %}"
    alt="Image 1"
    style="max-width: 100%; height: auto; border-radius: 8px;" 
/>
</div>
<div class="img_anh" style="display: flex; justify-content: center; align-items: center; margin: 20px 0;">
  <img
      src="{% static 'app/images/hoidong/7(1).png' %}"
      alt="Image 1"
      style="max-width: 100%; height: auto; border-radius: 8px;" 
  />
</div>
<div class="img_anh" style="display: flex; justify-content: center; align-items: center; margin: 20px 0;">
<img
    src="{% static 'app/images/hoidong/8(1).png' %}"
    alt="Image 1"
    style="max-width: 100%; height: auto; border-radius: 8px;" 
/>
</div>
<div class="img_anh" style="display: flex; justify-content: center; align-items: center; margin: 20px 0;">
  <img
      src="{% static 'app/images/hoidong/9(1).png' %}"
      alt="Image 1"
      style="max-width: 100%; height: auto; border-radius: 8px;" 
  />
</div>
<div class="img_anh" style="display: flex; justify-content: center; align-items: center; margin: 20px 0;">
<img
    src="{% static 'app/images/hoidong/10(1).png' %}"
    alt="Image 1"
    style="max-width: 100%; height: auto; border-radius: 8px;" 
/>
</div>
<div class="img_anh" style="display: flex; justify-content: center; align-items: center; margin: 20px 0;">
  <img
      src="{% static 'app/images/hoidong/11(1).png' %}"
      alt="Image 1"
      style="max-width: 100%; height: auto; border-radius: 8px;" 
  />
</div>
<div class="img_anh" style="display: flex; justify-content: center; align-items: center; margin: 20px 0;">
<img
    src="{% static 'app/images/hoidong/12(1).png' %}"
    alt="Image 1"
    style="max-width: 100%; height: auto; border-radius: 8px;" 
/>
</div>
<div class="img_anh" style="display: flex; justify-content: center; align-items: center; margin: 20px 0;">
  <img
      src="{% static 'app/images/hoidong/13(1).png' %}"
      alt="Image 1"
      style="max-width: 100%; height: auto; border-radius: 8px;" 
  />
</div>
<div class="img_anh" style="display: flex; justify-content: center; align-items: center; margin: 20px 0;">
<img
    src="{% static 'app/images/hoidong/14(1).png' %}"
    alt="Image 1"
    style="max-width: 100%; height: auto; border-radius: 8px;" 
/>
</div>
<div class="img_anh" style="display: flex; justify-content: center; align-items: center; margin: 20px 0;">
  <img
      src="{% static 'app/images/hoidong/15(1).png' %}"
      alt="Image 1"
      style="max-width: 100%; height: auto; border-radius: 8px;" 
  />
</div>
<div class="img_anh" style="display: flex; justify-content: center; align-items: center; margin: 20px 0;">
<img
    src="{% static 'app/images/hoidong/16(2).png' %}"
    alt="Image 1"
    style="max-width: 100%; height: auto; border-radius: 8px;" 
/>
</div>
<div class="img_anh" style="display: flex; justify-content: center; align-items: center; margin: 20px 0;">
  <img
      src="{% static 'app/images/hoidong/17(1).png' %}"
      alt="Image 1"
      style="max-width: 100%; height: auto; border-radius: 8px;" 
  />
</div>
<div class="img_anh" style="display: flex; justify-content: center; align-items: center; margin: 20px 0;">
<img
    src="{% static 'app/images/hoidong/18(1).png' %}"
    alt="Image 1"
    style="max-width: 100%; height: auto; border-radius: 8px;" 
/>
</div>
<div class="img_anh" style="display: flex; justify-content: center; align-items: center; margin: 20px 0;">
  <img
      src="{% static 'app/images/hoidong/19(1).png' %}"
      alt="Image 1"
      style="max-width: 100%; height: auto; border-radius: 8px;" 
  />
</div>
<div class="return-q">
  <a href="{% url 'home' %}"><div align="right">Quay lại</div>
  
</div>
    </div>
  </div>
</body>
{% endblock tongquan %}

