{% extends 'app/base.html' %} {% load static %} {% block tongquan %}
<body class="main-gh">
  <div class="container1">
    <div class="header-content">
      <a href="{% url 'home' %}"
        ><img src="{% static 'app/images/home.png' %}" align="left" />Trang
        chủ</a
      >
      <a>/</a><a href="{% url 'lich_su_hinh_thanh' %}">Lịch sử hình thành</a>
    </div>
    <div class="content-wrapper">
      <div class="custom-heading-1">Lịch sử hình thành</div>
      <p>
        Ngày 18/05/1988, Bộ Giao thông vận tải và Bưu điện đã ra quyết định số
        1252/TCCB-LĐ thành lập “Trung tâm đào tạo, bồi dưỡng tại chức Giao thông
        vận tải tại thành phố Hồ Chí Minh” và sau đó chuyển đổi thành “Trung tâm
        đại học Hàng hải phía Nam” (quyết định số 968/TCCB-LĐ ngày 14/01/1989).
      </p>

      <p>
        Trong năm học đầu tiên 1988 -1989, với 20 cán bộ, giảng viên, Trung tâm
        đã tuyển được 253 sinh viên các ngành Điều khiển tàu biển, Khai thác Máy
        tàu thủy, Điện tàu thủy, Kinh tế vận tải biển, Cơ giới hóa xếp dỡ, Xây
        dựng công trình thủy, Sửa chữa máy tàu biển, Đóng tàu thủy cho các hệ
        chính quy, ngắn hạn, tại chức. Việc khai giảng khóa đào tạo chính quy
        đầu tiên trên đã đặt cột mốc quan trọng cho quá trình hình thành và phát
        triển Trường ĐH Giao thông vận tải TP.HCM.
      </p>

      <p>
        Ngày 20/08/1991, Bộ Giao thông vận tải có quyết định số 1665 QĐ/TCCB-LĐ
        chuyển đổi tổ chức và hoạt động của Trung tâm đại học Hàng hải phía Nam
        thành Phân hiệu Đại học Hàng hải trực thuộc trường Đại học Hàng hải.
      </p>
      <div
        class="img_anh"
        style="display: flex; justify-content: center; align-items: center"
      >
        <img
          src="{% static 'app/images/lichsuhinhthanh/Lichsuhinhthanh.jpg' %}"
          alt="Image 1"
          width="700"
          height="400"
        />
      </div>
      <p style="color: blue; text-align: center">
        Hình ảnh chào cờ đầu tuần của sinh viên khi Nhà trường còn là phân hiệu
        Đại học Hàng hải
      </p>
      <p>
        Cùng với sự phát triển kinh tế xã hội của cả nước, nhu cầu xây dựng cơ
        sở vật chất, hạ tầng và phát triển các chuyên ngành vận tải đường biển,
        đường sông, đường bộ, đường sắt, hàng không của các tỉnh phía Nam, đặc
        biệt là khu vực kinh tế thành phố Hồ Chí Minh – Biên Hòa – Vũng Tàu –
        Cần Thơ và Tây Nguyên, Nam Trung bộ đòi hỏi cần có đội ngũ cán bộ khoa
        học kỹ thuật, quản lý ngành giao thông vận tải đủ trình độ đáp ứng yêu
        cầu phát triển. Bên cạnh đó Phân hiệu Đại học Hàng hải sau 10 năm xây
        dựng đã trở thành cơ sở đào tạo chính quy, hoạt động tương đối độc lập
        về tổ chức và tài chính, có đội ngũ giảng viên và cán bộ quản lý nhiều
        kinh nghiệm, cơ sở vật chất và nghiên cứu khoa học, quan hệ trong nước
        và quốc tế rộng rãi.
      </p>
      <p>
        Sau thẩm định của các cơ quan chức năng, ngày 26/04/2001, Thủ tướng
        Chính phủ đã có quyết định số 66/2001/QĐ-TTg thành lập Trường Đại học
        Giao thông vận tải TP.HCM trực thuộc Bộ Giao thông vận tải trên cơ sở
        Phân hiệu Đại học hàng hải.
      </p>
      <div
        class="img_anh"
        style="display: flex; justify-content: center; align-items: center"
      >
        <img
          src="{% static 'app/images/lichsuhinhthanh/Lichsuhinhthanh=.jpg' %}"
          alt="Image 1"
          width="700"
          height="400"
        />
      </div>
      <p style="color: blue; text-align: center">
        Lễ khai giảng năm học 2001-2002
      </p>
      <p>
        Cùng với niềm tin và khát vọng mới, Trường ĐH Giao thông vận tải TP.HCM
        đã hoạch định chiến lược phát triển đến năm 2030 và quyết tâm thực
        hiện:<i
          >hình thành đội ngũ cán bộ khoa học đầu ngành có năng lực để triển
          khai các đề tài nghiên cứu khoa học và chuyển giao công nghệ thuộc các
          dự án, các chương trình quốc gia, hợp tác quốc tế thuộc lĩnh vực giao
          thông vận tải và các ngành khác ; Chú trọng đầu tư vào các lĩnh vực
          đường sắt, giao thông đô thị (monorail, metro, mạng xe điện mặt
          đất...), quy hoạch và quản lý giao thông đô thị, vận tải logistics
          trên cơ sở công nghệ hiện đại của thế giới để sớm đưa Trường thực sự
          trở thành trung tâm khoa học và công nghệ của ngành giao thông vận tải
          phía Nam; Đào tạo nguồn nhân lực phục vụ cho một mạng giao thông vận
          tải đa phương thức nối kết đô thị, khu vực và quốc tế thông suốt, đồng
          bộ và hiệu quả ; Đầu tư hình thành các phòng thí nghiệm cơ bản và các
          phòng thí nghiệm chuyên ngành với các thiết bị hiện đại có thể thực
          hiện các thí nghiệm, kiểm định trong nghiên cứu, kiểm tra thử nghiệm
          các công trình; đẩy mạnh hợp tác quốc tế để tiếp cận khoa học, công
          nghệ mới tiên tiến của thế giới ; Nghiên cứu và áp dụng phương pháp
          quản lý và nâng cao chất lượng đào tạo, đổi mới, hoàn thiện và nâng
          cao chất lượng các chương trình đào tạo theo tín chỉ, cải tiến nội
          dung các môn học theo xu thế tăng cường thực hành, giảm bớt lý thuyết;
          Đào tạo nguồn nhân lực phục vụ kinh tế biển, gắn chặt với các dịch vụ
          công nghệ như phòng chống ô nhiễm toàn cầu, cứu hộ, tìm kiếm cứu nạn,
          công trình nổi, bảo vệ bờ biển, hải đảo,...</i
        >
      </p>
      <p>
        Nhìn lại những việc đã làm, những thành tích đã đạt được trong cả chặng
        đường vừa qua, với phương châm “chủ động, sáng tạo, tập trung trí tuệ
        của toàn thể giảng viên cán bộ công nhân viên nhà trường”, chúng ta tin
        tưởng rằng Trường Đại học Giao thông vận tải TP. Hồ Chí Minh sẽ vững
        vàng bước tiếp vào giai đoạn phát triển mới, tận dụng được các cơ hội,
        đương đầu được với các thách thức của thời kỳ hội nhập, sẽ hoàn thành
        các sứ mệnh được giao, vươn tới vị thế của một trường đại học trọng điểm
        đa ngành thuộc lĩnh vực giao thông vận tải trong nước và khu vực.
      </p>
    </div>
  </div>
  <img
    src="{% static 'app/images/Chuc-Mung-Nam-Moi-2025-Loi-chuc-tet-den-ong-ba-cha-me.jpg' %}"
    alt="Mô tả ảnh"
    class="right-image"
  />
</body>
{% endblock tongquan %}
