{% extends 'app/base.html' %} {% load static %} {% block banner_slider %}
<div class="content">
  <div class="carousel">
    <div class="carousel-inner">
      {% for image in carousel_images %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <img src="{{ image.image.url }}" alt="{{ image.alt_text }}" />
      </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button">
      <span>&lt;</span>
    </button>
    <button class="carousel-control-next" type="button">
      <span>&gt;</span>
    </button>
    <div class="carousel-indicators">
      {% for image in carousel_images %}
      <button class="{% if forloop.first %}active{% endif %}"></button>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock banner_slider %} {% block content2 %}
<div class="menu-wrapper">
  <div class="menu_6">
    <a href="#" class="menu-item_6"> TIN TỨC - HOẠT ĐỘNG </a>
    <a href="https://vanbang.ut.edu.vn/tracuu/" class="menu-item_6">
      TRA CỨU VĂN BẰNG
    </a>
    <a href="{% url 'support' %}" class="menu-item_6"> HỖ TRỢ </a>
    <a href="#" class="menu-item_6"> TUYỂN SINH SAU ĐẠI HỌC </a>
    <a href="https://portal.ut.edu.vn" class="menu-item_6"> CỔNG THÔNG TIN </a>
  </div>
</div>
{% endblock %} {% block content1 %}
<div class="main-content-amin6">
  <div class="wrapper6">
    <div class="container6">
      <div class="video5">
        <div class="video6">
          <iframe
            width="100%"
            height="240"
            src="https://www.youtube.com/embed/g-g5l-4iaYU"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
        <button
          class="button6"
          onclick="window.location.href='https://www.youtube.com/watch?v=g-g5l-4iaYU'"
        >
          Giới thiệu Đại học Giao Thông Vận Tải TP.HCM
        </button>
      </div>
      <div class="left-sections6">
        <div class="row6">
          <div class="section6">
            <a href="link_to_journal_of_science">
              <img
                src="{% static 'app/images/contentmain/tapchikhoahoc.jpg' %}"
                alt="Journal of Science"
              />
              <div class="title6">TẠP CHÍ KHOA HỌC</div>
            </a>
          </div>
          <div class="section6">
            <a href="link_to_scholarships">
              <img
                src="{% static 'app/images/contentmain/hocbong.webp' %}"
                alt="Scholarships"
              />
              <div class="title6">HỌC BỔNG</div>
            </a>
          </div>
        </div>
        <div class="row6">
          <div class="section6">
            <a href="{% url 'news_tuyen' %}">
              <img
                src="{% static 'app/images/contentmain/tuyensin.jpg' %}"
                alt="Admission News"
              />
              <div class="title6">TIN TUYỂN SINH</div>
            </a>
          </div>
          <div class="section6">
            <a href="link_to_library">
              <img
                src="{% static 'app/images/contentmain/thuvien.jpg' %}"
                alt="Library"
              />
              <div class="title6">THƯ VIỆN</div>
            </a>
          </div>
          <div class="section6">
            <a href="link_to_facilities">
              <img
                src="{% static 'app/images/contentmain/csvc.jpg' %}"
                alt="Facilities"
              />
              <div class="title6">CƠ SỞ VẬT CHẤT</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content1 %} {% block content3 %}
<div class="content-wrapper9">
  <div class="left-content">
    <div class="news-container9">
      <div class="news-section9">
        <a href="{% url 'news_pages' %}" class="contenttin">Tin Tức Sự Kiện</a>
        <div class="news-list9">
          {% for page in news_pages|slice:":5" %}
          <div class="news-item9">
            <a href="{% url 'news_detail' slug=page.slug %}" class="news-link9">
              <div class="news-thumbnail-container9">
                {% if page.image %}
                <img
                  src="{{ page.image.url }}"
                  alt="{{ page.name }}"
                  class="news-thumbnail9"
                />
                {% endif %}
              </div>
            </a>
            <div class="news-title-container9">
              <div class="news-title9">{{ page.name }}</div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="view-more">
          <a href="{% url 'news_pages' %}" class="view-more-button">Xem thêm</a>
        </div>
      </div>
    </div>
  </div>
  <div class="right-content">
    <div class="news-container9">
      <div class="news-section9">
        <a href="{% url 'announcements' %}" class="contenttin1"
          >Thông Báo Mới</a
        >
        <div class="news-list9">
          {% for page in announcements|slice:":5" %}
          <div class="news-item9">
            <a
              href="{% url 'announcement_detail' slug=page.slug %}"
              class="news-link9"
            >
              <div class="news-container811">
                <div class="news-title-container9811">
                  <div class="button-container811">
                    <button class="round-button811">
                      <img
                        src="{% static 'app/images/thongbaologo.png' %}"
                        alt="Image"
                      />
                    </button>
                  </div>
                  <div class="news-title9811">{{ page.name }}</div>
                </div>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
        <div class="view-more">
          <a href="{% url 'announcements' %}" class="view-more-button"
            >Xem thêm</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
